

<body>


    
</body>
<div class="backgroud">
    
    <div id="espaco">
        <p id="pcadastro"> Novo Produto</p>
        nome do produto 
        <input  type="texto" name = " produto" > 
        preço 
        <input  type="texto" name = "preco> "> <br><br>
        código de barras: 
        
        <input  type="texto" name = "codigo de barras> "placeholder="Teste" ><br><br>
        quantidade em estoque: 
        <input  type="texto" name = " quantidade em estoque> " ><br><br>
        descrição 
        <input  type="texto" name = " descricao> " ><br><br><br>   
    </div>
      
    
  <div>
        <img class="imagem"src="/assets/cadastro01.png" > <br><br>
 </div>
    
   <div>
    <button id="buttonCadastro" type = "submit"> Salvar </button> 
   </div> 
    
   
</div>
